<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8" />
<title>Cadastro de Título</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"> <img alt="Brand"
					style="height: 20px;" src="/images/logo.png" />
				</a>
			</div>
		</div>
	</nav>



	<div class="container">
		<div class="row">
			<div class="col-sm-offset-3 col-sm-6">

				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="panel-title">Cadastro de Título</div>
					</div>
					<div class="panel-body">
						<form method="POST" action="/titulos">

							<div class="row">
								<div class="col-sm-12 col-md-12 col-lg-12">
									<label>Descrição</label>
									<input type="text" class="form-control" name="descricao" />
								</div>
							</div>

							<div class="row">
								<div class="col-sm-12 col-md-12 col-lg-12">
									<label>Data de Vencimento</label>
									<input type="text" class="form-control" name="data_vencimento" />
								</div>
							</div>

							<div class="row">
								<div class="col-sm-12 col-md-12 col-lg-12">
									<label>Valor</label>
									<input type="number" class="form-control" name="valor" />
								</div>
							</div>

							<div class="row">
								<div class="col-sm-12 col-md-12 col-lg-12">
									<label>Status</label>
									<select class="form-control" name="status">
										<option value="PENDENTE">Pendente</option>
										<option value="RECEBIDO">Recebido</option>
									</select>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-12 col-md-12 col-lg-12">
									<hr />
									<button type="button" class="btn btn-default">Voltar</button>
									<button type="submit" class="btn btn-primary">Gravar</button>
								</div>
							</div>

						</form>
					</div>
				</div>

			</div>
		</div>
	</div>





	<script src="/js/bootstrap.min.js"></script>
</body>
</html>